@using Microsoft.Extensions.Options;
@using Biwen.Settings;
@inject IOptions<SettingOptions> SettingOptions;

@{
    var settings = ViewBag.Settings as IEnumerable<Biwen.Settings.Domains.Setting>;
    Layout = SettingOptions.Value.Layout;
    ViewData["Title"] = SettingOptions.Value.Title;
}

@if(SettingOptions.Value.EditorOption.ShouldPagenation)
{
    <link href="/Content/jquery.dataTables.min.css" rel="stylesheet" />
}

<table class="settingTable table table-striped">
    <thead>
        <tr>
            <th class="settingTh1" scope="col">#</th>
            <th class="settingTh3" scope="col">描述</th>
            <th class="settingTh3" scope="col">排序</th>
            <th class="settingTh4" scope="col">编辑</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var setting in settings!)
        {
            <tr>
                <th class="settingThr1" scope="row">@(setting.SettingName)</th>
                <td class="settingThr2">@(setting.Description)</td>
                <td class="settingThr3">@(setting.Order)</td>
                <td class="settingThr4">@Html.ActionLink(SettingOptions.Value.EditorOption.EditorEditButtonText,"Edit","Setting",new{ id= setting.SettingName })</td>
            </tr>
        }

    </tbody>
</table>

@if (SettingOptions.Value.EditorOption.ShouldPagenation)
{

    @section Scripts{
    <script src="/Content/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('.settingTable').DataTable({
                order: [[3, 'desc']]
            });
        });
    </script>
    }

    
}